<div class="jumbotron">
    <div class="row">
        <%= image_tag 'globe.png', class: 'pull-left' %>
        <h1>The Biggest Online Translation Platform</h1>
        <p>Worldwide Translators continues to grow everyday by gathering the most skilled translators across the globe.</p>
        <button class="btn btn-info btn-lg">Learn More</button>
    </div>
</div>
